@font-face {
    font-family: 'Diablo Light';
    src: url('/fonts/Diablo Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Diablo Heavy';
    src: url('/fonts/Diablo Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}  

@font-face {
    font-family: 'Alegreya Sans';
    src: url('/fonts/AlegreyaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Old Fenris';
    src: url('/fonts/Old Fenris.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}